@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-no-repeat bg-blend-overlay;
}

.glow-overlay {
  --glow-size: 25rem;

  position: fixed; /* Fixed positioning for full-page coverage */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: 400ms mask ease, 400ms opacity ease;
  will-change: mask, opacity;
}

.nav-indicator.active {
  @apply text-teal-300 font-bold border-b-2 border-teal-300;
}